.sideBar {
  background-color: rgb(240, 242, 246);
  z-index: 999;
  min-width: 200px;
  max-width: 350px;
  height: 100%;
  position: relative;
}

.openSidebar {
  transition: 0.8s;
  width: 336px;
}

.closeSideBar {
  transition: 0.8s;
  min-width: 0px !important;
  width: 0px;
  margin-right: 350px;
}

.commonButtonStyle {
  width: 50px;
  cursor: pointer;
  border: 0px;
  position: absolute;
  right: 0px;

  svg {
    padding: 10px;
    font-size: 20px;
  }

  &:hover {
    background-color: rgb(215, 211, 211);
    border-radius: 5px
  }
}

.closeButton {
  @extend .commonButtonStyle;
}

.openButton {
  @extend .commonButtonStyle;
  right: -50px;
}