# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/.vs

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.vscode/launch.json
src/components/GeneSelectionBox/Gene.js
src/components/GeneSelectionBox/GeneSelectionBox.spec.tsx
src/components/GeneSelectionBox/GeneSelectionBoxUtils.spec.ts
src/components/GeneSelectionBox/GeneSelectionBoxUtils.ts
src/components/GeneSelectionBox/GeneSymbolValidator.spec.tsx
src/components/GeneSelectionBox/GeneSymbolValidator.tsx
src/components/GeneSelectionBox/OQLTextArea.tsx
src/components/GeneSelectionBox/QueryStore.ts
src/store/extra/firstRun.js
package.json
yarn.lock
API/temp/
API/node_modules
API/data/
API/Old/
API/precalc/