.mainView {
  padding: 25px;
  width: 100%;
  overflow: auto;
}

.infoSection {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.moduleTextInfos {
  width: 70%;
}

.float-right {
  float: right;
  margin: 0 0 10px 10px;
  max-width: 100%;
  height: auto;
}