div._item_1xgsk_413 {
  //display: none;
  margin-left: "5px";
  //background-color: red;
}

#root > div > div.main-view_mainView__ZF1p5 > div.top-bar__topbar_1xgsk_339__WWyhI > div > div {
  display: none;
}

._topbar_1xgsk_339{
  //display: none;
  //margin-left: 250px;
  background-color: red;
  justify-content: center;
}
._topbar_1xgsk_339{
  justify-content: center;
  background-color: red;
}


.topBar {
  background-color: blue;
  max-width: 1200px;
  height: 60px;
  border: 2px solid blue;
  margin-top: 30px;
  ul {
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    color: whitesmoke;
    cursor: pointer;
    .active {
      background-color: white;
      color: black;
    }
    li {
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
        border-radius: 5px;
        font-size: 20px;
        padding: 10px;
        color: whitesmoke;
        text-decoration: none;
        &:hover {
          @extend .active;
          background-color: whitesmoke;
        }
      }
    }
  }
}