.topBar {
  div {
    > div:nth-child(2) {
      display: none;
    }
    justify-content: center;
  }
  font-size: medium;
  background-color: rgb(255, 0, 0);
  max-width: 1200px;
  height: 60px;
  border: 2px solid rgb(34, 0, 6);
  margin-top: 30px;
  ul {
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    color: whitesmoke;
    cursor: pointer;
    .active {
      background-color: white;
      color: black;
    }
    li {
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
        border-radius: 5px;
        font-size: 20px;
        padding: 10px;
        color: whitesmoke;
        text-decoration: none;
        &:hover {
          @extend .active;
          background-color: whitesmoke;
        }
      }
    }
  }
}
