.mainView {
  padding: 25px;
  width: 100%;
  overflow: auto;
}

.infoSection {
  display: block;
  justify-content: space-between;
  max-width: 1200px;
}

.moduleTextInfos {
  width: 90%;
  font-size: 17px;
}

.float-right {
  float: right;
  margin: 0 0 10px 10px;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  
}